<!DOCTYPE html>
<html lang="zxx" class="no-js">

<%- include ('./UserPortal/vendar/landmetahead.ejs') %>


<body>
	<%- include ('./UserPortal/vendar/HeaderLanding.ejs') %>
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Blog Details Page
					</h1>
					<p class="text-white link-nav"><a href="index.html">Home </a> <span
							class="lnr lnr-arrow-right"></span><a href="blog-home.html">Blog </a> <span
							class="lnr lnr-arrow-right"></span> <a href="blog-single.html"> Blog Details Page</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start post-content Area -->
	<section class="post-content-area single-post-area">
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-8 posts-list">
					
				</div> -->
				<% allBlogs.forEach((item)=>{ %>
					<div class="blog-card">
						<div class="blog-image">
							<img src="/upload/<%=item.BlogImage %>" alt="Blog Image">
						</div>
						<div class="blog-content">
							<h2 class="blog-title">
								<%=item.BlogTitle %>
							</h2>
							<p class="blog-summary">
								<%=item.BlogContent %>
							</p>
						</div>
					</div>
					<% }) %>
					
			</div>
		</div>
	</section>
	<!-- End post-content Area -->

	<!-- start footer Area -->
	<%- include ('./UserPortal/vendar/FotterofLending.ejs') %>

	<!-- End footer Area -->


	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.tabs.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>