<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Website</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <!-- font awesome website cdn for icons import -->
    <script src="https://kit.fontawesome.com/51d768ed59.js" crossorigin="anonymous"></script>
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="/img/image.png">
</head>

<body>
    <%- include ('./UserPortal/vendar/HeaderLanding.ejs') %>

    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Essentials
                    </h1>
                    <p class="text-white link-nav"><a href="index.html">Home </a> <span
                            class="lnr lnr-arrow-right"></span> <a href="courses.html"> Essentials</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start popular-courses Area -->
    <section class="popular-courses-area section-gap courses-page">
        <div class=" container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Essentials</h1>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Director/Principal &amp; Medical Supritendent</td>
                                    <td>

                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='1' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Teaching Staff</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='2' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Non Teaching Staff</td>

                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='3' ) { %>
                                                <a href="./upload/<%= essential.filenames %>"> Download </a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Intake Capacity</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='4' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Student Details</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='5' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Research Publications</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='6' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CME (Continous Medical Education Programme) Details</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='7' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>University Details</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='8' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Examination Details</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='9' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status of Recognition</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='10' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hospital Clinical Materials</td>
                                    <td>
                                        <% Essentials.forEach(function(essential) { %>
                                            <% if (essential.Essentialsname==='11' ) { %>
                                                <a href="./upload/<%= essential.filenames %>">Download</a>
                                                <% } %>
                                                    <% }) %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End popular-courses Area -->

    <!-- Start search-course Area -->
    <section class="search-course-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-6 search-course-left">
                    <h1 class="text-white">
                        Get more details of courses? <br>
                        Know more about our teaching techniques
                    </h1>
                    <p>
                        In Limbdi Homeopathic college we offer better educations to the students with the help of modern
                        technology and experienced faculties, The future generation of homeopathic doctors under lhmc is
                        better and way more astonishing. Trust us in our teaching criteria and make a better homeopathic
                        doctor.
                    </p>
                    <div class="row details-content">
                        <div class="col single-detials">
                            <span class="lnr lnr-graduation-hat"></span>
                            <a href="#">
                                <h4>Expert Instructors</h4>
                            </a>
                            <p>
                                Our faculties are highly experienced in their respective fields and have a proven track
                                record of success in the field.
                            </p>
                        </div>
                        <div class="col single-detials">
                            <span class="lnr lnr-license"></span>
                            <a href="#">
                                <h4>Certification</h4>
                            </a>
                            <p>
                                All instructor are certified and experienced in their respective fields. Better
                                Education is Guranteed and is the aim of our faculties.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 search-course-right section-gap">
                    <form class="form-wrap" action="#">
                        <h4 class="text-white pb-20 text-center mb-30">Search for Available Course</h4>
                        <input type="text" class="form-control" name="name" placeholder="Your Name"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'">
                        <input type="phone" class="form-control" name="phone" placeholder="Your Phone Number"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'">
                        <input type="email" class="form-control" name="email" placeholder="Your Email Address"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'">
                        <div class="form-select" id="service-select">
                            <select>
                                <option datd-display="">Choose Course</option>
                                <option value="1">Course One</option>
                                <option value="2">Course Two</option>
                                <option value="3">Course Three</option>
                                <option value="4">Course Four</option>
                            </select>
                        </div>
                        <button class="primary-btn text-uppercase">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End search-course Area -->

    <!-- Start upcoming-event Area -->
    <section class="upcoming-event-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Upcoming Events of our College</h1>
                        <p>Our College provides variety of educational and exciting events.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-upcoming-event-carusel">
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="img/e1.jpg" alt="">
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>The Universe Through
                                    A Child S Eyes</h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                                telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="img/e2.jpg" alt="">
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>The Universe Through
                                    A Child S Eyes</h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                                telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="img/e1.jpg" alt="">
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>The Universe Through
                                    A Child S Eyes</h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                                telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="img/e1.jpg" alt="">
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>The Universe Through
                                    A Child S Eyes</h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                                telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="img/e2.jpg" alt="">
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>The Universe Through
                                    A Child S Eyes</h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                                telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <img class="img-fluid" src="img/e1.jpg" alt="">
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <a href="#">
                                <h4>The Universe Through
                                    A Child S Eyes</h4>
                            </a>
                            <p>
                                For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                                telescopes and seeing magnificent displays in the heavens.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End upcoming-event Area -->

    <!-- Start cta-two Area -->
    <!-- <section class="cta-two-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 cta-left">
					<h1>Not Yet Satisfied with our Trend?</h1>
				</div>
				<div class="col-lg-4 cta-right">
					<a class="primary-btn wh" href="#">view our blog</a>
				</div>
			</div>
		</div>
	</section> -->
    <!-- End cta-two Area -->

    <!-- start footer Area -->
    <%- include ('./UserPortal/vendar/FotterofLending.ejs') %>

    <!-- End footer Area -->


    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.tabs.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
</body>

</html>